/* src/components/Navbar.css */

.navbar {
    background-color: #161515 !important;
    z-index: 1300 !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important; /* Sombra */
    transition: background-color 0.3s ease !important; /* Transição suave */
  }
  
  .navbar-button:hover {
    color: #fff !important; /* Altera a cor ao passar o mouse */
  }
