body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html, body {
  background-color: #F2F2F2;
  color: #353C43;
  font-family: 'sansation-light', 'courier';
  font-size: 12px;
  margin: 0;
}

@font-face{
  font-family: 'sansation-light';
  src: local('sansation-light'), url(./assets/fonts/sansation/Sansation_Light.ttf) format('truetype');
}

@font-face {
  font-family: 'sansation-regular';
  src: local('sansation-regular'), url(./assets/fonts/sansation/Sansation_Regular.ttf) format('truetype');
}